/.DS_Store
/.qodo
/11:6:24 Pop Quiz.pdf
/Example_2.pdf
/Graph of Absolute Zero.docx
/Group IA Outline (1).docx
/Group IA Outline.docx
/IA- Guidelines.pdf
/Math IA Screeenshots Clear
/Math IA Screen Shots
/Math IA.docx
/New MATH HL BOOK.pdf
/PeerEval-GroupWork IA.docx
/Rubric HL.pdf
/Solids of Revolution Project.pdf
/Solids_of_Revolution_Project-1.docx
/Sw-Para.pdf
/Worked Solutions Math 3rd Edition.pdf
/ib-maths-hl-core.pdf
/lkjk.pdf